*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.background{
    margin: 100px 0;
    background-color: #7c7d7d;
    width: 400px;
    height: 700px;
    padding: 100px;
    transform: translatex(-85%);
    transition: transform 1s ease;
    position: relative;
}
.background:hover{
    transform: translatex(0);
}
.background:hover  .menu-here{
    color: #7c7d7d;
}
.menu-here{
    transform: rotate(90deg);
    transform-origin: center right;
    position: absolute;
    top: 60%;
    right: 30px;
}
.menu-link, .menu-here{
    color: #dedede;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.8;
}
.menu-link:hover {
    color: #cd9c3b;
}
/* .menu-link::before{
    content: url('icons.svg#icon-gem');
    width: 20px;
    height: 20px;
} */